*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-dark: hsl(214, 100%, 9%);
  --main-light: hsl(0, 0%, 97%);

  --regular-padding: 15px;
}

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template:
    'header' auto
    'main' 1fr
    'footer' auto
    / 1fr;
}

li {
  list-style-type: none;
  margin-inline: 0.5em;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.container {
  /* width: 100%; */
  max-width: 1050px;
  margin: 0 auto;
}

.bg-container {
  position: absolute;
  z-index: -1;
}

/*** HEADER ***/
header {
  padding: var(--regular-padding) calc(var(--regular-padding) + 5px);
  background-color: var(--main-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-light);
}

header nav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
}

header li {
  margin-inline: 1em;
  position: relative;
}

header nav a:hover {
  text-decoration: underline currentColor wavy;
}

.logo {
  width: 100px;
  margin: 10px;
}

h1.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  color: #fff;
}

/*** MAIN ***/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: var(--main-light);
}

.error-text {
  margin-bottom: 40px;
  font-size: 2.5rem;
  line-height: 2.2em;
  font-family: 'Permanent Marker', cursive;
}

.err404 {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  font-size: 8rem;
}

main button {
  display: block;
  margin: 2em auto;
  display: flex;
  align-items: center;
  padding: 0.2em 0.8em;
  border-radius: 0.6em;
  border: 2px solid var(--main-dark);
  cursor: pointer;
  font-size: 1.3rem;
}

main button:hover {
  box-shadow: 0px 0px 0px 5px var(--main-dark);
}

main button img {
  display: inline;
  height: 70px;
  margin-left: 0.8em;
  transform-origin: bottom 10%;
}

main button:hover img {
  animation: accelerate 1s infinite;
}

@keyframes accelerate {
  25% {
    transform: none;
  }
  50% {
    transform: translateY(-5%) rotateZ(-18deg);
  }
  75% {
    transform: none;
  }
}

/*** FOOTER ***/
footer {
  padding: var(--regular-padding);
  background-color: var(--main-dark);
  color: var(--main-light);
  font-size: 0.8rem;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

footer li {
  margin-block: 0.8em;
}

footer li:first-child {
  margin-top: 0;
}

footer li:last-child {
  margin-bottom: 0;
}

.copyrights {
  font-weight: 300;
}
